[Unit]
Description=CYBER RUNNER Joystick(ADC0834) -> uinput
After=multi-user.target

[Service]
ExecStart=/usr/bin/python3 /home/pi/cyberrunner-pi/joystick.py
Restart=always
RestartSec=2
User=root
# ⚠ RPi.GPIOはroot権限を要求することが多いためUser=rootにしている。

[Install]
WantedBy=multi-user.target
